<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.encrypt">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Encrypt">

        <activity android:name=".AesActivity"
            android:exported= "false"
            android:label="AesActivity"/>

        <activity android:name=".DesActivity"
            android:exported= "false"
            android:label="DesActivity"/>

        <activity android:name=".Md5Activity"
            android:exported= "false"
            android:label="Md5Activity"/>

        <activity android:name=".RsaActivity"
            android:exported= "false"
            android:label="RsaActivity"/>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>